<div class="qr-scan-area">
  <!-- This is the npm package in-charge of scanning the QR -->
  <zxing-scanner
    #scanner
    [(device)]="currentDevice"
    (scanSuccess)="onCodeResult($event)"
    (permissionResponse)="onHasPermission($event)"
  ></zxing-scanner>
  <div class="qr-area">
    <div class="area"></div>
  </div>
</div>

<!-- Displays message on the screen if guest is valid -->
<div *ngIf="qrStream">
  <div class="guest"  >
    <div class="ui success message">
      <p>{{qrStream}}</p>
      <button type="submit" class=" btn btn-block" (click) = sendNewConnectionToService() routerLink ="/successScann">
        Valid Qr-Stream
      </button>
    </div>
  </div>
</div>
