<div class="container fullHeight-center">
  <h2>Chat</h2>

  <div id="chat-verlauf" *ngIf="messagesList">
    <ul>
      <li *ngFor="let message of messagesList">
        <div *ngIf="message.id != myUserID; else myUserName">
          {{ message.name }}
        </div>
        <div>
            <ng-template #myUserName>Me</ng-template>
        </div>
        {{ message.time }} : {{ message.text }}
      </li>
    </ul>
  </div>


  <div class="new-message">
    <textarea [(ngModel)]="newMessage.text" id="messageInput" placeholder="write an answer" class="d-block" rows="4" cols="50"></textarea>

    <button class="btn my-2" (click)="sendMessage()" >Send</button>
  </div>

  <div class="row justify-content-center">
    <button class="btn col-2" routerLink="/home/">Back to contacts</button>
  </div>

</div>


