<div class="container fullHeight-center">
  <p>QR-Code</p>
  <div class="row justify-content-center">
    <qrcode [qrdata]="qrdata" [size]="256" [level]="'M'"></qrcode>
  </div>
  <br>
  <p>QR-Stream</p>
  <div class="row justify-content-center">
    <label>
      <input type="text"
             class="form-control"
             [(ngModel)]="qrdata"
             style="width: 300px"
             placeholder="input Qr-Stream"
      >
    </label>
  </div>
    <div class="row justify-content-center">
      <button class = "btn private" routerLink="/home">Contacts</button>
      <button class = "btn private" routerLink="/login">Logout</button>
    </div>
</div>
