.contacts {
  list-style-type: none;
  background-color: #5ca4a9;
}



.yellowish {
  background-color: #f4f1bb;
}

.orange {
  background-color: #ed6a5a;
}

.contactlist {
  max-height: 50vh;
  overflow-y: scroll;
}

.qrcode {
  max-height: 20vh;
  margin: auto;
}
