<div class="container">
  Hello {{user.name}}
</div>

<div class="container qrcode">
  <div class="row justify-content-center">
    <button class="btn col-3 mx-3" routerLink="/createQRCode/">Show QR-Code</button>
    <button class="btn col-3 mx-3" routerLink="/scanQRCode/">Scan QR-Code</button>
  </div>
</div>

<div class="container">
  <p>Contacts:</p>
  <table class="table contactlist">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name (tap to chat)</th>
      <th scope="col"></th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let contact of contacts; index as i">
      <th scope="row">{{ i + 1 }}
      </th>
      <td [routerLink]="['/chat', contact.addressId]">
        <span class="badge">{{contact.name}}</span>
      </td>
      <td>
        <button routerLink="/update/{{contact.id}}" class="btn badge">edit</button>
      </td>


    </tr>
    </tbody>
  </table>


</div>
